
@import '../bower_components/normalize.css/normalize.css';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    margin: 2.5% 5%;
    line-height: 1.4;
    color: hsl(0, 0%, 20%);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    max-width: 30rem;
    margin: auto;
}

h1 {
    margin-bottom: 2.8rem;
    font-size: 2rem;
    line-height: 2.1rem;
}

h2 {
    margin: 0.7rem 0;
    font-size: 1.4rem;
}
h2:first-child {
    margin-top: 0;
}

p {
    margin: 0 0 0.7rem 0;
}
p:last-child {
    margin-bottom: 0;
}

a {
    color: hsl(200, 80%, 45%);
    text-decoration: none;
    background-image: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0) 50%,
        hsla(200, 80%, 45%, 0.5) 50%
    );
    background-repeat: repeat-x;
    background-size: 2px 2px;
    background-position: 0 95%;

    &:focus,
    &:hover {
        color: hsl(200, 80%, 55%);
    }

    &:active {
        color: hsl(200, 80%, 40%);
    }
}

@import '../dist/components/spec';

.c-fixture-box {
    padding: 0.5rem;
    background: hsl(0, 0%, 80%);
    outline: 1px solid hsl(0, 0%, 70%);
    font-size: 0.8em;
    color: hsla(0, 0%, 0%, 0.65);
}
