.c-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start;
}

.c-media__figure {
  margin-right: 21px;
}

.c-media__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
          flex: 1 0 0;
}

.c-media.c--align-middle {
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
}

.c-media.c--reversed > .c-media__figure {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
          order: 1;
  margin-right: 0;
  margin-left: 21px;
}
