<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs Component Tests · Stencil</title>
    <link rel="stylesheet" href="../../../fixtures/fixture.css">

    <link rel="stylesheet" href="../icon/icon.css">
    <link rel="stylesheet" href="tabs.css">
</head>
<body class="c-fixture-body">
    <h1 class="c-fixture-title">
        <a class="c-fixture-title__sub" href="https://github.com/mobify/stencil">Stencil</a>
        <div>Tabs Component Tests</div>
    </h1>

    <article class="c-test">
        <h2 class="c-test__describe">.c-tabs</h2>

        <div class="c-test__case">
            <div class="c-test__run">
                <div class="c-tabs" role="tab">
                    <ul id="c-tab-controls" class="c-tabs__controls" role="tablist">
                        <li class="c-tabs__controls-item">
                            <button class="c-tabs__button" data-target="home" aria-label="Home" type="button">Home</button>
                        </li>

                        <li class="c-tabs__controls-item c--current">
                            <button class="c-tabs__button" data-target="homeware" aria-label="Homeware" type="button">Homeware</button>
                        </li>

                        <li class="c-tabs__controls-item">
                            <button class="c-tabs__button" data-target="kitchen" aria-label="Kitchen" type="button">Kitchen</button>
                        </li>

                        <li class="c-tabs__controls-item">
                            <button class="c-tabs__button" data-target="cooking-baking" aria-label="Cooking & Baking" type="button">Cooking & Baking</button>
                        </li>
                    </ul>

                    <div class="c-tabs__body" role="tabpanel" aria-controls="c-tab-controls">
                        <section class="c-tabs__content" id="home">
                            <h2 class="u-hide-visually">Home</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est animi, aut amet quod ea incidunt impedit vero quam a officiis atque non enim excepturi tempora earum dolore nostrum et.</p>
                        </section>

                        <section class="c-tabs__content c--current" id="homeware">
                            <h2 class="u-hide-visually">Homeware</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est animi, aut amet quod ea incidunt impedit vero quam a officiis atque non enim excepturi tempora earum dolore nostrum et.</p>
                        </section>

                        <section class="c-tabs__content" id="kitchen">
                            <h2 class="u-hide-visually">Kitchen</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est animi, aut amet quod ea incidunt impedit vero quam a officiis atque non enim excepturi tempora earum dolore nostrum et.</p>
                        </section>

                        <section class="c-tabs__content" id="cooking-baking">
                            <h2 class="u-hide-visually">Cooking & Baking</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis est animi, aut amet quod ea incidunt impedit vero quam a officiis atque non enim excepturi tempora earum dolore nostrum et.</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>
</body>
</html>
