.c-progress-steps {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
}

.c-progress-steps__step-item {
  position: relative;
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
}
.c-progress-steps__step-item:not(:first-child) {
  padding-right: 0;
  padding-left: 30px;
}
.c-progress-steps__step-item::after, .c-progress-steps__step-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  z-index: 10;
  display: block;
  display: block;
  width: 0;
  height: 0;
  border-top: 90px solid transparent;
  border-bottom: 90px solid transparent;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.c-progress-steps__step-item::after {
  border-left: 20px solid #f2f2f2;
}
.c-progress-steps__step-item::before {
  margin-left: 2px;
  border-left: 20px solid white;
}

.c-progress-steps__step-item.c--current {
  background-color: #d9d9d9;
}
.c-progress-steps__step-item.c--current::after {
  border-left-color: #d9d9d9;
}

.c-progress-steps__step-item.c--completed {
  background-color: #bfbfbf;
}
.c-progress-steps__step-item.c--completed::after {
  border-left-color: #bfbfbf;
}

.c-progress-steps + .c-progress-steps {
  margin-top: 1em;
}
