.c-select {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  height: 3rem;
  padding: 0.5rem 1rem;
  border: 1px solid #cccccc;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  -webkit-user-select: none;
  user-select: none;
}
.c-select select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  background: none;
  -webkit-appearance: none;
}
.c-select::after {
  width: 0;
  height: 0;
  border-color: #cccccc;
  border-right: 6px solid transparent;
  border-top: 6px solid #cccccc;
  border-left: 6px solid transparent;
  content: '';
  position: absolute;
  top: 0;
  right: 1rem;
  bottom: 0;
  margin: auto;
}

@-moz-document url-prefix() {
  .c-select {
    overflow: hidden;
  }
  .c-select select {
    width: calc(100% + 3em);
  }
  .c-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
}
