<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar Component Tests · Stencil</title>
    <link rel="stylesheet" href="../../../fixtures/fixture.css">

    <link rel="stylesheet" href="calendar.css">
    <style>
    </style>
</head>
<body class="c-fixture-body">
    <h1 class="c-fixture-title">
        <a class="c-fixture-title__sub" href="https://github.com/mobify/stencil">Stencil</a>
        <div>Calendar Component Tests</div>
    </h1>

    <article class="c-test">
        <h2 class="c-test__describe">.c-calendar</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render a calendar which allows users to scroll down through dates.</p>
            <div class="c-test__run">

                <div class="c-calendar">
                    <div class="c-calendar__heading">
                        <div class="c-calendar__heading-day">Sun</div>
                        <div class="c-calendar__heading-day">Mon</div>
                        <div class="c-calendar__heading-day">Tue</div>
                        <div class="c-calendar__heading-day">Wed</div>
                        <div class="c-calendar__heading-day">Thu</div>
                        <div class="c-calendar__heading-day">Fri</div>
                        <div class="c-calendar__heading-day">Sat</div>
                    </div>
                    <div class="c-calendar__dates">
                        <div class="c-calendar__month">June 2015</div>
                        <div class="c-calendar__day-wrapper">
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">1</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">2</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">3</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">4</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">5</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">6</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">7</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">8</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">9</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">10</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">11</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">12</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">13</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">14</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">15</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">16</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">17</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">18</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">19</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">20</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">21</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">22</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">23</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">24</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">25</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">26</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">27</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">28</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">29</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">30</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                        </div>

                        <div class="c-calendar__month">July 2015</div>
                        <div class="c-calendar__day-wrapper">
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">1</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">2</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">3</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">4</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">5</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">6</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">7</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">8</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">9</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">10</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">11</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">12</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">13</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">14</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">15</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">16</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">17</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">18</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">19</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">20</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">21</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">22</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">23</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">24</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">25</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">26</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">27</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">28</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">29</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">30</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">31</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                        </div>

                        <div class="c-calendar__month">August 2015</div>
                        <div class="c-calendar__day-wrapper">
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">1</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">2</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">3</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">4</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">5</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">6</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">7</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">8</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">9</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">10</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">11</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">12</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">13</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">14</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">15</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">16</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">17</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">18</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">19</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">20</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">21</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">22</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">23</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">24</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">25</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">26</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">27</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">28</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">29</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">30</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">31</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-calendar</h2>

        <div class="c-test__case">
            <p class="c-test__should">Modifier c--selected should display alternate styling on selected dates.</p>
            <div class="c-test__run">

                <div class="c-calendar">
                    <div class="c-calendar__heading">
                        <div class="c-calendar__heading-day">Sun</div>
                        <div class="c-calendar__heading-day">Mon</div>
                        <div class="c-calendar__heading-day">Tue</div>
                        <div class="c-calendar__heading-day">Wed</div>
                        <div class="c-calendar__heading-day">Thu</div>
                        <div class="c-calendar__heading-day">Fri</div>
                        <div class="c-calendar__heading-day">Sat</div>
                    </div>
                    <div class="c-calendar__dates">
                        <div class="c-calendar__month">June 2015</div>
                        <div class="c-calendar__day-wrapper">
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">1</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">2</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">3</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">4</div>
                            </div>
                            <div class="c-calendar__day c--selected">
                                <div class="c-calendar__day-content">5</div>
                            </div>
                            <div class="c-calendar__day c--selected">
                                <div class="c-calendar__day-content">6</div>
                            </div>
                            <div class="c-calendar__day c--selected">
                                <div class="c-calendar__day-content">7</div>
                            </div>
                            <div class="c-calendar__day c--selected">
                                <div class="c-calendar__day-content">8</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">9</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">10</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">11</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">12</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">13</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">14</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">15</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">16</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">17</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">18</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">19</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">20</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">21</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">22</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">23</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">24</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">25</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">26</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">27</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">28</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">29</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">30</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                        </div>

                        <div class="c-calendar__month">July 2015</div>
                        <div class="c-calendar__day-wrapper">
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">1</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">2</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">3</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">4</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">5</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">6</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">7</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">8</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">9</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">10</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">11</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">12</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">13</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">14</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">15</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">16</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">17</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">18</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">19</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">20</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">21</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">22</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">23</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">24</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">25</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">26</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">27</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">28</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">29</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">30</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">31</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                        </div>

                        <div class="c-calendar__month">August 2015</div>
                        <div class="c-calendar__day-wrapper">
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">1</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">2</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">3</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">4</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">5</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">6</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">7</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">8</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">9</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">10</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">11</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">12</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">13</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">14</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">15</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">16</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">17</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">18</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">19</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">20</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">21</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">22</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">23</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">24</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">25</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">26</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">27</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">28</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">29</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">30</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content">31</div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                            <div class="c-calendar__day">
                                <div class="c-calendar__day-content"></div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </article>

</body>
</html>
