<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ratio Component Tests · Stencil</title>
    <link rel="stylesheet" href="../../../fixtures/fixture.css">

    <link rel="stylesheet" href="ratio.css">
    <style>
        iframe {
            margin: 0;
            border: 0;
        }

        .u-margin-above-m {
            margin-top: 1.4rem;
        }
    </style>
</head>
<body class="c-fixture-body">
    <h1 class="c-fixture-title">
        <a class="c-fixture-title__sub" href="https://github.com/mobify/stencil">Stencil</a>
        <div>Ratio Component Tests</div>
    </h1>

    <article class="c-test">
        <h2 class="c-test__describe">.c-ratio</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should be fluid-width, but constrained to a width:height ratio of 1:1.</p>
            <div class="c-test__run">

                <div class="c-ratio">
                    <div class="c-ratio__item c-fixture-box">1 × 1</div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should allow max-height to constrain the ratio.</p>
            <div class="c-test__run">

                <div class="c-ratio" style="max-height: 200px">
                    <div class="c-ratio__item c-fixture-box">1 × 1, max-height 200px</div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-ratio.c--4by3</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render with a width:height ratio of 4:3 (SD video).</p>
            <div class="c-test__run">

                <div class="c-ratio c--4by3">
                    <div class="c-ratio__item c-fixture-box">4 × 3</div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-ratio.c--16by9</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render with a width:height ratio of 16:9 (HD video).</p>
            <div class="c-test__run">

                <div class="c-ratio c--16by9">
                    <div class="c-ratio__item c-fixture-box">16 × 9</div>
                </div>

            </div>
        </div>
    </article>
</body>
</html>
