<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Component Tests · Stencil</title>
    <link rel="stylesheet" href="../../../fixtures/fixture.css">

    <link rel="stylesheet" href="media.css">
    <style>
        .u-margin-top-md { margin-top: 1.5rem !important; }
        .u-margin-bottom-md { margin-bottom: 1.5rem !important; }

        .c-fixture-box {
            width: 4.2rem;
            height: 4.2rem;
        }
    </style>
</head>
<body>
    <h1 class="c-fixture-title">
        <a class="c-fixture-title__sub" href="https://github.com/mobify/stencil">Stencil</a>
        <div>Media Component Tests</div>
    </h1>

    <article class="c-test">
        <h2 class="c-test__describe">.c-media</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render a figure next to a block of other content. The content should not overlap the figure nor wrap underneath.</p>
            <div class="c-test__run">

                <div class="c-media">
                    <div class="c-media__figure">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-media__body">
                        <h3>Standard Media Object</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should be nestable.</p>
            <div class="c-test__run">

                <div class="c-media">
                    <div class="c-media__figure">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-media__body">
                        <h3>Standard Media Object</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                        <div class="c-media u-margin-top-md">
                            <div class="c-media__figure">
                                <div class="c-fixture-box">1</div>
                            </div>
                            <div class="c-media__body">
                                <h3>Standard Media Object</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-media.c--align-middle</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should vertically center the figure and body.</p>
            <div class="c-test__run">

                <div class="c-media c--align-middle">
                    <div class="c-media__figure">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-media__body">
                        <h3>Middle-Aligned Media Object</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-media.c--reversed</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should reverse the display order of figure and body.</p>
            <div class="c-test__run">

                <div class="c-media c--reversed">
                    <div class="c-media__figure">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-media__body">
                        <h3>Reversed Media Object</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>
</body>
</html>
