<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Component Tests · Stencil</title>
    <link rel="stylesheet" href="../../../fixtures/fixture.css">

    <link rel="stylesheet" href="grid.css">
    <style>
        .u-margin-v-md {
            margin-top: 1.4rem !important;
            margin-bottom: 1.4rem !important;
        }

        .u-width-1of2 {
            width: 50% !important;
        }

        .u-width-1of3 {
            width: 33.333% !important;
        }

        .u-width-1of4 {
            width: 25% !important;
        }

        .u-width-1of6 {
            width: 16.666% !important;
        }

        .c-fixture-box {
            min-height: 4.2rem;
        }

        .c-grid.c--variable .c-grid__span:nth-child(2n) > .c-fixture-box {
            min-height: 2.4rem;
        }
    </style>
</head>
<body>
    <h1 class="c-fixture-title">
        <a class="c-fixture-title__sub" href="https://github.com/mobify/stencil">Stencil</a>
        <div>Grid Component Tests</div>
    </h1>

    <article class="c-test">
        <h2 class="c-test__describe">.c-grid</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render spans at full width by default.</p>
            <div class="c-test__run">

                <div class="c-grid">
                    <div class="c-grid__span">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span">
                        <div class="c-fixture-box">2</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should lay out spans with applied widths in a grid.</p>
            <div class="c-test__run">

                <div class="c-grid">
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">4</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should automatically wrap spans across multiple rows.</p>
            <div class="c-test__run">

                <div class="c-grid">
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">5</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">6</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should support any combination of span widths.</p>
            <div class="c-test__run">

                <div class="c-grid">
                    <div class="c-grid__span u-width-1of6">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of2">
                        <div class="c-fixture-box">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of6">
                        <div class="c-fixture-box">5</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">6</div>
                    </div>
                    <div class="c-grid__span u-width-1of6">
                        <div class="c-fixture-box">6</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should lay out variable-height spans in discrete rows.</p>
            <div class="c-test__run">

                <div class="c-grid c--variable">
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">5</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">6</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">7</div>
                    </div>
                    <div class="c-grid__span u-width-1of4">
                        <div class="c-fixture-box">8</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should support nested grids.</p>
            <div class="c-test__run">

                <div class="c-grid">
                    <div class="c-grid__span u-width-1of2">
                        <div class="c-fixture-box">1</div>
                        <div class="c-grid">
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">3 <div>nested</div></div>
                            </div>
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">4 <div>nested</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid__span u-width-1of2">
                        <div class="c-fixture-box">2</div>
                        <div class="c-grid">
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">5 <div>nested</div></div>
                            </div>
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">6 <div>nested</div></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-grid.c--gutters</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render gutters between spans, but no extra space should be visible around the grid component.</p>
            <div class="c-test__run">

                <div class="c-grid c--gutters">
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">5</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should allow vertical margins to be set on it without affecting inner grid spacing.</p>
            <div class="c-test__run">

                <div class="c-grid c--gutters u-margin-v-md">
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-fixture-box">5</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">Gutters shouldn’t be applied to nested grids.</p>
            <div class="c-test__run">

                <div class="c-grid c--gutters">
                    <div class="c-grid__span u-width-1of2">
                        <div class="c-fixture-box">1</div>
                        <div class="c-grid">
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">3 <div>nested</div></div>
                            </div>
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">4 <div>nested</div></div>
                            </div>
                        </div>
                    </div>
                    <div class="c-grid__span u-width-1of2">
                        <div class="c-fixture-box">2</div>
                        <div class="c-grid">
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">5 <div>nested</div></div>
                            </div>
                            <div class="c-grid__span u-width-1of2">
                                <div class="c-fixture-box">6 <div>nested</div></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </article>
</body>
</html>
