.u-text-all-caps {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.u-text-align-start {
  text-align: left !important;
}

.u-text-align-center {
  text-align: center !important;
}

.u-text-align-end {
  text-align: right !important;
}

.u-align-middle {
  vertical-align: middle !important;
}

.u-align-baseline {
  vertical-align: baseline !important;
}

.u-text-accent {
  color: blue;
}

.u-text-success {
  color: green;
}

.u-text-error {
  color: red;
}
