<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Component Test</title>
    <link rel="stylesheet" href="../../test.css">

    <link rel="stylesheet" href="grid.css">
    <style>
        .u-width-1of3 {
            width: 33.333% !important;
        }

        .u-margin-top-lg {
            margin-top: 2.8rem !important;
        }

        .u-margin-bottom-lg {
            margin-bottom: 2.8rem !important;
        }

        .placeholder {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            border: 1px solid hsl(0, 0%, 80%);
            background: hsl(0, 0%, 85%);
        }
    </style>
</head>
<body>
    <h1>Grid Component</h1>

    <article class="test-case">
        <h2 class="test-case__describe">.c-grid</h2>
        <p class="test-case__should"><a href="#subject-1">It</a> should lay out a set of items in a 4-up grid.</p>
        <div class="test-case__run">

            <div class="c-grid" id="subject-1">
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
            </div>

        </div>
    </article>

    <article class="test-case">
        <h2 class="test-case__describe">.c-grid.c--gutters</h2>
        <p class="test-case__should"><a href="#subject-2">It</a> should lay out a set of items in a 4-up grid. Items should be separated by a gutter space. No apparent extra space should be visible at the edges of the grid component.</p>
        <div class="test-case__run">

            <div class="c-grid c--gutters" id="subject-2">
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
            </div>

        </div>
    </article>

    <article class="test-case">
        <h2 class="test-case__describe">.c-grid.c--gutters (with margins)</h2>
        <p class="test-case__should"><a href="#subject-3">It</a> should allow vertical margins to be set on it without spacing issues.</p>
        <div class="test-case__run">

            <div class="c-grid c--gutters u-margin-top-lg u-margin-bottom-lg" id="subject-3">
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
                <div class="c-grid__span u-width-1of3">
                    <div class="placeholder"></div>
                </div>
            </div>

        </div>
    </article>

    <script src="../../test.js"></script>
</body>
</html>
