<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Component Test</title>
    <link rel="stylesheet" href="../../test.css">

    <link rel="stylesheet" href="grid.css">
    <style>
        .u-width-1of3 {
            width: 33.333% !important;
        }

        .u-margin-top-lg {
            margin-top: 2.8rem !important;
        }

        .u-margin-bottom-lg {
            margin-bottom: 2.8rem !important;
        }

        .placeholder {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            border: 1px solid hsl(0, 0%, 80%);
            background: hsl(0, 0%, 85%);
        }
    </style>
</head>
<body>
    <h1>Grid Component</h1>

    <article class="c-spec">
        <h2 class="c-spec__describe">.c-grid</h2>

        <div class="c-spec__case">
            <p class="c-spec__should"><a href="#it-1">It</a> should lay out a set of items in a 4-up grid.</p>
            <div class="c-spec__run">

                <div class="c-grid" id="it-1">
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-spec">
        <h2 class="c-spec__describe">.c-grid.c--gutters</h2>

        <div class="c-spec__case">
            <p class="c-spec__should"><a href="#it-2">It</a> should lay out a set of items in a 4-up grid. Items should be separated by a gutter space. No apparent extra space should be visible at the edges of the grid component.</p>
            <div class="c-spec__run">

                <div class="c-grid c--gutters" id="it-2">
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-spec__case">
            <p class="c-spec__should"><a href="#it-3">It</a> should allow vertical margins to be set on it without conflicts.</p>
            <div class="c-spec__run">

                <div class="c-grid c--gutters u-margin-top-lg u-margin-bottom-lg" id="it-3">
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="placeholder"></div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <script src="../../test.js"></script>
</body>
</html>
