<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid Component Test</title>
    <link rel="stylesheet" href="../../fixture.css">

    <link rel="stylesheet" href="grid.css">
    <style>
        .u-width-1of3 {
            width: 33.333% !important;
        }

        .u-margin-top-md {
            margin-top: 1.4rem !important;
        }

        .u-margin-bottom-md {
            margin-bottom: 1.4rem !important;
        }

        .c-placeholder {
            min-height: 4.2rem;
        }
    </style>
</head>
<body>
    <h1><a href="https://github.com/mobify/stencil">Stencil</a> Grid Component Tests</h1>

    <article class="c-spec">
        <h2 class="c-spec__describe">.c-grid</h2>

        <div class="c-spec__case">
            <p class="c-spec__should">It should lay out a set of items in a 4-up grid.</p>
            <div class="c-spec__run">

                <div class="c-grid">
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">5</div>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-spec">
        <h2 class="c-spec__describe">.c-grid.c--gutters</h2>

        <div class="c-spec__case">
            <p class="c-spec__should">It should lay out a set of items in a 4-up grid. Items should be separated by a gutter space. No apparent extra space should be visible at the edges of the grid component.</p>
            <div class="c-spec__run">

                <div class="c-grid c--gutters">
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">5</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-spec__case">
            <p class="c-spec__should">It should allow vertical margins to be set on it without conflicts.</p>
            <div class="c-spec__run">

                <div class="c-grid c--gutters u-margin-top-md u-margin-bottom-md">
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">1</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">2</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">3</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">4</div>
                    </div>
                    <div class="c-grid__span u-width-1of3">
                        <div class="c-placeholder">5</div>
                    </div>
                </div>

            </div>
        </div>
    </article>
</body>
</html>
