<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrange Component Tests · Stencil</title>
    <link rel="stylesheet" href="../../../fixtures/fixture.css">

    <link rel="stylesheet" href="../../../vellum/vellum.css">

    <link rel="stylesheet" href="../../utils/dimension/dimension.css">
    <link rel="stylesheet" href="arrange.css">
    <style>
        .u-margin-top-md {
            margin-top: 1.5rem !important;
        }

        .u-margin-bottom-md {
            margin-bottom: 1.5rem !important;
        }
    </style>
</head>
<body>
    <h1 class="c-fixture-title">
        <a class="c-fixture-title__sub" href="https://github.com/mobify/stencil">Stencil</a>
        <div>Arrange Component Tests</div>
    </h1>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should arrange items in equal-width, full-height columns.</p>
            <div class="c-test__run" data-shot-name="equal-width-full-height-columns">

                <div class="c-arrange">
                    <div class="c-arrange__item c-fixture-box">
                        1
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        2
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="c-test__case">
            <p class="c-test__should">It should support dimension utilities on items.</p>
            <div class="c-test__run" data-shot-name="supports-dimension-utils">

                <div class="c-arrange">
                    <div class="c-arrange__item c-fixture-box">
                        1
                        <p>no specified width</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box u-width-1of2">
                        2
                        <p><strong>.u-width-1of2</strong></p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>no specified width</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange__item.c--shrink</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should support shrinking one or more items.</p>
            <div class="c-test__run" data-shot-name="supports-shrinking-items">

                <div class="c-arrange">
                    <div class="c-arrange__item c--shrink c-fixture-box">
                        1
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        2
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--align-top</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should align items to the top and collapse their height.</p>
            <div class="c-test__run" data-shot-name="aligns-items-top">

                <div class="c-arrange c--align-top">
                    <div class="c-arrange__item c-fixture-box">
                        1
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        2
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--align-middle</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should vertically center items and collapse their height.</p>
            <div class="c-test__run">

                <div class="c-arrange c--align-middle">
                    <div class="c-arrange__item c-fixture-box">
                        1
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        2
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--align-bottom</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should align items to the bottom and collapse their height.</p>
            <div class="c-test__run">

                <div class="c-arrange c--align-bottom">
                    <div class="c-arrange__item c-fixture-box">
                        1
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        2
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--justify-start</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should align items to the left</p>
            <div class="c-test__run">

                <div class="c-arrange c--justify-start">
                    <div class="c-fixture-box">
                        1
                    </div>
                    <div class="c-fixture-box">
                        2
                    </div>
                    <div class="c-fixture-box">
                        3
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--justify-end</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should align items to the right</p>
            <div class="c-test__run">

                <div class="c-arrange c--justify-end">
                    <div class="c-fixture-box">
                        1
                    </div>
                    <div class="c-fixture-box">
                        2
                    </div>
                    <div class="c-fixture-box">
                        3
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--justify-between</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should align items justified</p>
            <div class="c-test__run">

                <div class="c-arrange c--justify-between">
                    <div class="c-fixture-box">
                        1
                    </div>
                    <div class="c-fixture-box">
                        2
                    </div>
                    <div class="c-fixture-box">
                        3
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--justify-center</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should align items at the center</p>
            <div class="c-test__run">

                <div class="c-arrange c--justify-center">
                    <div class="c-fixture-box">
                        1
                    </div>
                    <div class="c-fixture-box">
                        2
                    </div>
                    <div class="c-fixture-box">
                        3
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--justify-around</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should distribute space evenly around items</p>
            <div class="c-test__run">

                <div class="c-arrange c--justify-around">
                    <div class="c-fixture-box">
                        1
                    </div>
                    <div class="c-fixture-box">
                        2
                    </div>
                    <div class="c-fixture-box">
                        3
                    </div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange__item.c--order-{1…6}</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should render the items in the following order: 3, 6, 2, 5, 1, 4.</p>
            <div class="c-test__run">

                <div class="c-arrange c--align-top">
                    <div class="c-arrange__item c--order-5 c-fixture-box">1</div>
                    <div class="c-arrange__item c--order-3 c-fixture-box">2</div>
                    <div class="c-arrange__item c--order-1 c-fixture-box">3</div>
                    <div class="c-arrange__item c--order-6 c-fixture-box">4</div>
                    <div class="c-arrange__item c--order-4 c-fixture-box">5</div>
                    <div class="c-arrange__item c--order-2 c-fixture-box">6</div>
                </div>

            </div>
        </div>
    </article>

    <article class="c-test">
        <h2 class="c-test__describe">.c-arrange.c--gutters</h2>

        <div class="c-test__case">
            <p class="c-test__should">It should support gutters.</p>
            <div class="c-test__run">

                <div class="c-arrange c--gutters">
                    <div class="c-arrange__item c-fixture-box">
                        1
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        2
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                    </div>
                    <div class="c-arrange__item c-fixture-box">
                        3
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>

            </div>
        </div>
    </article>
</body>
</html>
