* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

[hidden] {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p {
  margin: 0 0 10px;
}

a {
  color: #16a085;
  text-decoration: none;
}
a:active, a:focus {
  color: #0d5d4d;
}

hr {
  margin: 20px 0;
  border: 1px solid #BBB;
  border-width: 0 0 1px;
}

img {
  max-width: 100%;
  margin: 0;
}

blockquote {
  margin: 20px 0;
  padding-left: 10px;
  border-left: 2px solid #BBB;
  color: #595959;
}

fieldset {
  min-width: 0;
  margin: 0 0 10px;
  padding: 0;
  border: 0;
}

input,
label,
textarea,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  -webkit-tap-highlight-color: transparent;
}
label:active {
  color: #0d5d4d;
}

select,
textarea,
[type="text"],
[type="search"],
[type="password"],
[type="datetime"],
[type="datetime-local"],
[type="date"],
[type="month"],
[type="time"],
[type="week"],
[type="number"],
[type="email"],
[type="url"],
[type="tel"],
[type="color"] {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #BBB;
  border-radius: 4px;
  background-color: #fff;
  line-height: 21px;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
[type="text"]::-webkit-input-placeholder,
[type="search"]::-webkit-input-placeholder,
[type="password"]::-webkit-input-placeholder,
[type="datetime"]::-webkit-input-placeholder,
[type="datetime-local"]::-webkit-input-placeholder,
[type="date"]::-webkit-input-placeholder,
[type="month"]::-webkit-input-placeholder,
[type="time"]::-webkit-input-placeholder,
[type="week"]::-webkit-input-placeholder,
[type="number"]::-webkit-input-placeholder,
[type="email"]::-webkit-input-placeholder,
[type="url"]::-webkit-input-placeholder,
[type="tel"]::-webkit-input-placeholder,
[type="color"]::-webkit-input-placeholder {
  color: #888;
}
select:active,
textarea:active,
[type="text"]:active,
[type="search"]:active,
[type="password"]:active,
[type="datetime"]:active,
[type="datetime-local"]:active,
[type="date"]:active,
[type="month"]:active,
[type="time"]:active,
[type="week"]:active,
[type="number"]:active,
[type="email"]:active,
[type="url"]:active,
[type="tel"]:active,
[type="color"]:active {
  border-color: #a2a2a2;
}
select:focus,
textarea:focus,
[type="text"]:focus,
[type="search"]:focus,
[type="password"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="date"]:focus,
[type="month"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[type="number"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="tel"]:focus,
[type="color"]:focus {
  border-color: #16a085;
}

textarea {
  height: auto;
}

input[type="search"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
}

select {
  padding: 8px 15px;
  border-color: #bababa;
  -webkit-appearance: menulist-button;
}

[type="checkbox"],
[type="radio"] {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #bababa;
  background: #E8E8E8 -webkit-gradient(linear, left top, left bottom, from(white), to(#E8E8E8));
  background: #E8E8E8 -webkit-linear-gradient(white, #E8E8E8);
  background: #E8E8E8 linear-gradient(white, #E8E8E8);
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
[type="checkbox"]:active,
[type="radio"]:active {
  background: #BBB reverse-gradient(linear-gradient(white, #E8E8E8));
}
[type="checkbox"]:checked,
[type="radio"]:checked {
  background: #E8E8E8;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.1);
}
[type="checkbox"]:checked::after,
[type="radio"]:checked::after {
  content: '';
  position: absolute;
  display: block;
}

[type="radio"] {
  border-radius: 24px;
}
[type="radio"]:after {
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  border-radius: 24px;
  background: #333;
}

[type="checkbox"]:checked:after {
  content: '\2714';
  top: 0;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 14px;
}

button,
[type="submit"] {
  display: block;
  padding: 10px 15px;
  border: 1px solid #bababa;
  background: #E8E8E8 -webkit-gradient(linear, left top, left bottom, from(white), to(#E8E8E8));
  background: #E8E8E8 -webkit-linear-gradient(white, #E8E8E8);
  background: #E8E8E8 linear-gradient(white, #E8E8E8);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}
button:active,
[type="submit"]:active {
  background: #BBB reverse-gradient(linear-gradient(white, #E8E8E8));
}

[disabled] {
  opacity: 1;
  background: #E8E8E8;
  color: #BBB;
  -webkit-text-fill-color: #BBB;
}
[disabled]:active, [disabled]:checked {
  border-color: #BBB;
  background: #E8E8E8;
}
[disabled]:active::after, [disabled]:checked::after {
  color: #BBB;
}
[disabled][type="radio"]:after {
  background-color: #BBB;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

dl {
  line-height: 21px;
  margin-bottom: 10px;
}

dt {
  font-weight: bold;
  margin-top: 10px;
}

dd {
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0;
}

th {
  padding: 10px 0;
  border-bottom: 1px solid #959595;
  font-weight: bold;
  text-align: left;
}

td {
  padding: 10px 0;
  border-bottom: 1px solid #BBB;
}

tr,
td,
th {
  vertical-align: middle;
}

.c-spinner {
  position: relative;
  overflow: hidden;
  width: 1em;
  height: 1em;
  margin: 4em auto;
  border-radius: 50%;
  text-indent: -100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-animation: stencil-spinner 1s infinite ease;
          animation: stencil-spinner 1s infinite ease;
}

.c-spinner.c--scale {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

@-webkit-keyframes stencil-spinner {
  0%,
    100% {
    -webkit-box-shadow: 0 -2.6em 0 0 #3498db, 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.5), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7);
            box-shadow: 0 -2.6em 0 0 #3498db, 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.5), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7);
  }
  12.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.7), 1.8em -1.8em 0 0 #3498db, 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.7), 1.8em -1.8em 0 0 #3498db, 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5);
  }
  25% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.5), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7), 2.5em 0 0 0 #3498db, 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.5), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7), 2.5em 0 0 0 #3498db, 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  37.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5), 2.5em 0 0 0 rgba(52, 152, 219, 0.7), 1.75em 1.75em 0 0 #3498db, 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5), 2.5em 0 0 0 rgba(52, 152, 219, 0.7), 1.75em 1.75em 0 0 #3498db, 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.5), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.7), 0 2.5em 0 0 #3498db, -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.5), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.7), 0 2.5em 0 0 #3498db, -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  62.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.5), 0 2.5em 0 0 rgba(52, 152, 219, 0.7), -1.8em 1.8em 0 0 #3498db, -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.5), 0 2.5em 0 0 rgba(52, 152, 219, 0.7), -1.8em 1.8em 0 0 #3498db, -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  75% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.5), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.7), -2.6em 0 0 0 #3498db, -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.5), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.7), -2.6em 0 0 0 #3498db, -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  87.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.5), -2.6em 0 0 0 rgba(52, 152, 219, 0.7), -1.8em -1.8em 0 0 #3498db;
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.5), -2.6em 0 0 0 rgba(52, 152, 219, 0.7), -1.8em -1.8em 0 0 #3498db;
  }
}

@keyframes stencil-spinner {
  0%,
    100% {
    -webkit-box-shadow: 0 -2.6em 0 0 #3498db, 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.5), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7);
            box-shadow: 0 -2.6em 0 0 #3498db, 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.5), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7);
  }
  12.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.7), 1.8em -1.8em 0 0 #3498db, 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.7), 1.8em -1.8em 0 0 #3498db, 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5);
  }
  25% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.5), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7), 2.5em 0 0 0 #3498db, 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.5), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.7), 2.5em 0 0 0 #3498db, 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  37.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5), 2.5em 0 0 0 rgba(52, 152, 219, 0.7), 1.75em 1.75em 0 0 #3498db, 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.5), 2.5em 0 0 0 rgba(52, 152, 219, 0.7), 1.75em 1.75em 0 0 #3498db, 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  50% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.5), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.7), 0 2.5em 0 0 #3498db, -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.5), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.7), 0 2.5em 0 0 #3498db, -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.2), -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  62.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.5), 0 2.5em 0 0 rgba(52, 152, 219, 0.7), -1.8em 1.8em 0 0 #3498db, -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.5), 0 2.5em 0 0 rgba(52, 152, 219, 0.7), -1.8em 1.8em 0 0 #3498db, -2.6em 0 0 0 rgba(52, 152, 219, 0.2), -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  75% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.5), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.7), -2.6em 0 0 0 #3498db, -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.5), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.7), -2.6em 0 0 0 #3498db, -1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2);
  }
  87.5% {
    -webkit-box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.5), -2.6em 0 0 0 rgba(52, 152, 219, 0.7), -1.8em -1.8em 0 0 #3498db;
            box-shadow: 0 -2.6em 0 0 rgba(52, 152, 219, 0.2), 1.8em -1.8em 0 0 rgba(52, 152, 219, 0.2), 2.5em 0 0 0 rgba(52, 152, 219, 0.2), 1.75em 1.75em 0 0 rgba(52, 152, 219, 0.2), 0 2.5em 0 0 rgba(52, 152, 219, 0.2), -1.8em 1.8em 0 0 rgba(52, 152, 219, 0.5), -2.6em 0 0 0 rgba(52, 152, 219, 0.7), -1.8em -1.8em 0 0 #3498db;
  }
}
