.u-width-1of3,
.u-width-2of6 {
  width: 33.33333% !important;
}

.u-width-2of3,
.u-width-4of6 {
  width: 66.66667% !important;
}

.u-width-1of4 {
  width: 25% !important;
}

.u-width-1of2,
.u-width-2of4,
.u-width-3of6 {
  width: 50% !important;
}

.u-width-3of4 {
  width: 75% !important;
}

.u-width-1of6 {
  width: 16.66667% !important;
}

.u-width-5of6 {
  width: 83.33333% !important;
}

.u-width-full {
  display: block !important;
  width: 100% !important;
}

[class*="u-width-"] {
  -webkit-box-flex: initial !important;
  -webkit-flex: initial !important;
          flex: initial !important;
}
